/* Add a black background color to the top navigation */

body{
    background-image: url("wallpaper.jpg");
      background-size: cover;
        background-repeat: no-repeat;


}
.mySlides {display:none;}

.w3-content{max-width:980px;margin:auto;}
.topNavigationBar {
    background-color: #333;

    overflow: hidden;
}

.w3-section,.w3-code{margin-top:16px!important;margin-bottom:16px!important }

/* Style the links inside the navigation bar */
.topNavigationBar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.w3-center{text-align:center!important}


/* Change the color of links on hover */
.topNavigationBar a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topNavigationBar a.active {
    background-color: #4CAF50;
    color: white;
}